/client/DistributedChatRoom.pro.user
/client/DistributedChatRoom.pro.user*
/client/build/
/server/GateServer/GateServer/
/server/GateServer/x64/
/server/GateServer/.vs/
/server/VarifyServer/node_modules/